@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* গ্লোবাল ফন্ট সেটআপ (ঐচ্ছিক) */
body {
  font-family: 'Poppins', sans-serif;
}